@import 'common/common';

.playfair() {
  font-family : 'Playfair Display', serif;
  font-weight : 400;
}

.playfair-bold() {
  font-family : 'Playfair Display', serif;
  font-weight : 700;
}

.playfair-black() {
  font-family : 'Playfair Display', serif;
  font-weight : 900;
}

.ubuntu() {
  font-family : 'Ubuntu', sans-serif;
  font-weight : 400;
}

.ubuntu-light() {
  font-family : 'Ubuntu', sans-serif;
  font-weight : 300;
}

.ubuntu-medium() {
  font-family : 'Ubuntu', sans-serif;
  font-weight : 500;
}

.ubuntu-bold() {
  font-family : 'Ubuntu', sans-serif;
  font-weight : 700;
}

@main-text-color: #626262;

html, body {
  font-size : 14px;
  color : @main-text-color;

  .playfair();
}
//############ mobile ################
.mobile-navigation {
  position : fixed;
  z-index : 1010;
  top : 0;
  width : 100%;
  height : 55px;
  border-bottom : 1px solid #ededed;
  background-color : white;
  &:after {
    display : table;
    clear : both;
    content : '';
  }
  .logo-container {
    display : block;
    float : left;
    width : auto;
    max-width : 199px;
    height : 45px;
    margin-top : 0;
    margin-left : 20px;.vertical-center3lines();

    a {
      display : block;
      overflow : hidden;
      height : 45px;
      img {
        width : auto;
        height : 100%;
      }
    }
  }
  .navigation-trigger {
    display : block;
    float : right;.vertical-center3lines();

    a {
      display : inline-block;
      vertical-align : middle;
      &:link, &:visited {
        color : black;
      }
      &:hover, &:active, &:focus {
        color : lighten(black, 25%);
      }
      &:last-child {
        margin-left : 20px;
        i {
          font-size : 35px;
          line-height : 30px;
        }
      }
    }
    i {
      font-size : 25px;
      line-height : 55px;
      margin-right : 20px;
    }
  }
}

.mobile-links-list-container {
  display : none;
  overflow : hidden;
  position : fixed;
  z-index : 1000;
  top : 55px;
  width : 100%;
  background-color : white;
  ul {
    margin : 0;
    padding : 0;
    border-top : 1px solid #ededed;
    li {
      display : block;
      padding : 0;
      list-style : none;
      border-bottom : 1px solid #ededed;
      background-image : none;
      a {
        display : block;
        font-size : 18px;
        padding : 10px 0 10px 30px;
        text-transform : uppercase;

        &:link, &:visited {
          color : black;
        }
        &:hover, &:focus, &:active {
          color : black;
          background-color : #ebebeb;
        }
      }
    }
  }
}

.pusher {
  height : 55px;
}

//########### end mobile ##########


header {
  .main-menu-container {
    ul {
      margin : 0;
      padding : 0;
      list-style : none;
      text-align : right;
      li {
        display : inline-block;
        a {
          font-size : 14px;
          padding : 0 20px;
          text-transform : uppercase;
          &:link, &:visited {
            color : @main-text-color;
          }
          &:hover, &:focus, &:active {
            color : darken(@main-text-color,25%);
          }
        }
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/*Ipad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

/*Ipad Portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 479px) {
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
}
