*:focus {
  outline: none;
}
* {
  margin: 0;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
/**
wordpress fantom space removal
*/
p:empty {
  display: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.bootstrap-select .btn:focus {
  outline: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.media-checker {
  position: absolute;
  top: -10000px;
  left: -10000px;
  z-index: 1920;
}
.image-preloader {
  position: absolute;
  top: -1000px;
  left: -5000px;
  display: block;
}
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
input,
textarea {
  outline: none;
}
a {
  outline: none;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
.image-wrapper {
  width: 200px;
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}
.image-wrapper:after {
  padding-top: 50%;
  display: block;
  content: '';
}
.image-wrapper .image-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: deepskyblue;
  color: white;
}
.image-wrapper .image-content img {
  width: 100%;
  height: auto;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .media-checker {
    z-index: 1200;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .media-checker {
    z-index: 992;
  }
}
/*Ipad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .media-checker {
    z-index: 1024;
  }
}
/*Ipad Portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .media-checker {
    z-index: 768;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .media-checker {
    z-index: 767;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .media-checker {
    z-index: 480;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .media-checker {
    z-index: 479;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .media-checker {
    z-index: 320;
  }
}
html,
body {
  font-size: 14px;
  color: #626262;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
.mobile-navigation {
  position: fixed;
  z-index: 1010;
  top: 0;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #ededed;
  background-color: white;
}
.mobile-navigation:after {
  display: table;
  clear: both;
  content: '';
}
.mobile-navigation .logo-container {
  display: block;
  float: left;
  width: auto;
  max-width: 199px;
  height: 45px;
  margin-top: 0;
  margin-left: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mobile-navigation .logo-container a {
  display: block;
  overflow: hidden;
  height: 45px;
}
.mobile-navigation .logo-container a img {
  width: auto;
  height: 100%;
}
.mobile-navigation .navigation-trigger {
  display: block;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mobile-navigation .navigation-trigger a {
  display: inline-block;
  vertical-align: middle;
}
.mobile-navigation .navigation-trigger a:link,
.mobile-navigation .navigation-trigger a:visited {
  color: black;
}
.mobile-navigation .navigation-trigger a:hover,
.mobile-navigation .navigation-trigger a:active,
.mobile-navigation .navigation-trigger a:focus {
  color: #404040;
}
.mobile-navigation .navigation-trigger a:last-child {
  margin-left: 20px;
}
.mobile-navigation .navigation-trigger a:last-child i {
  font-size: 35px;
  line-height: 30px;
}
.mobile-navigation .navigation-trigger i {
  font-size: 25px;
  line-height: 55px;
  margin-right: 20px;
}
.mobile-links-list-container {
  display: none;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 55px;
  width: 100%;
  background-color: white;
}
.mobile-links-list-container ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #ededed;
}
.mobile-links-list-container ul li {
  display: block;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ededed;
  background-image: none;
}
.mobile-links-list-container ul li a {
  display: block;
  font-size: 18px;
  padding: 10px 0 10px 30px;
  text-transform: uppercase;
}
.mobile-links-list-container ul li a:link,
.mobile-links-list-container ul li a:visited {
  color: black;
}
.mobile-links-list-container ul li a:hover,
.mobile-links-list-container ul li a:focus,
.mobile-links-list-container ul li a:active {
  color: black;
  background-color: #ebebeb;
}
.pusher {
  height: 55px;
}
.title {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #b4ad9e;
  margin-bottom: 40px;
}
header .logo-container {
  height: 165px;
}
header .logo-container a {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
header .main-menu-container {
  height: 165px;
}
header .main-menu-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
header .main-menu-container ul li {
  display: inline-block;
}
header .main-menu-container ul li a {
  font-size: 14px;
  padding: 0 40px;
  text-transform: uppercase;
}
header .main-menu-container ul li a:link,
header .main-menu-container ul li a:visited {
  color: #626262;
}
header .main-menu-container ul li a:hover,
header .main-menu-container ul li a:focus,
header .main-menu-container ul li a:active {
  color: #222222;
}
header .main-menu-container ul li:last-child a {
  padding-right: 0;
}
header .main-menu-container ul li:first-child a {
  padding-left: 0;
}
.hero {
  margin-bottom: 97px;
}
.hero .hero-inner {
  overflow: hidden;
  padding-top: 44.736%;
}
.article-container .article-image {
  overflow: hidden;
  margin: 100px 0 30px;
  padding-top: 66.67%;
  position: relative;
}
.article-container .article-image:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 40px 0;
  border-color: transparent #111112 transparent transparent;
}
.article-container .article-image i {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  color: white;
}
.article-container .article-image.three-quarters {
  padding-top: 75%;
  margin-top: 60px;
}
.article-container .article-link a {
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
.article-container .article-link a:link,
.article-container .article-link a:visited {
  color: #b4ad9e;
}
.article-container .article-link a:hover,
.article-container .article-link a:focus,
.article-container .article-link a:active {
  color: #857b67;
}
.article-container .article-content {
  margin: 30px 0;
  letter-spacing: 0.01em;
  line-height: 171.42857143%;
}
.article-container .article-content p {
  margin: 0 0 25px 0;
}
.article-container .article-content p.italic-paragraph {
  font-style: italic;
  padding: 0 25px;
}
.article-container .article-share {
  margin: 60px 0 0;
}
.article-container .article-share ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
.article-container .article-share ul li {
  display: inline-block;
}
.article-container .article-share ul li span {
  text-transform: uppercase;
  font-size: 13px;
  color: #b4ad9e;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
.article-container .article-share ul li a {
  font-size: 17px;
  padding-left: 17px;
  display: block;
}
.article-container .article-share ul li a:link,
.article-container .article-share ul li a:visited {
  color: #b4ad9e;
}
.article-container .article-share ul li a:hover,
.article-container .article-share ul li a:focus,
.article-container .article-share ul li a:active {
  color: #857b67;
}
.article-container.full {
  margin: 0 80px;
}
.article-container.half {
  border-bottom: 1px solid #cccccc;
}
.article-container.half .article-image {
  position: relative;
}
.article-container.half .article-image:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 40px 0;
  border-color: transparent #111112 transparent transparent;
}
.article-container.half .article-image i {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  color: white;
}
.article-container.half.left {
  margin-left: 80px;
}
.article-container.half.right {
  margin-right: 80px;
}
.gray-block {
  margin: 110px 0;
  padding: 55px 0;
  background-color: #f0f0f0;
}
.gray-block .signup-form-container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #626262;
}
.gray-block .signup-form-container h2 {
  margin-bottom: 80px;
  color: #333333;
  letter-spacing: 0.025em;
}
.gray-block .signup-form-container input[type='email'] {
  width: 350px;
  padding: 15px 0;
  border: 0;
  background-color: #f0f0f0;
}
.gray-block .signup-form-container input[type='email']::-webkit-input-placeholder {
  color: #626262;
}
.gray-block .signup-form-container input[type='email']::-moz-placeholder {
  color: #626262;
}
.gray-block .signup-form-container input[type='email']:-ms-input-placeholder {
  color: #626262;
}
.gray-block .signup-form-container input[type='email']:-moz-placeholder {
  color: #626262;
}
.gray-block .signup-form-container input[type='submit'] {
  font-size: 18px;
  border: 0;
  background-color: #f0f0f0;
  font-family: FontAwesome;
}
.gray-block .like-container .likes-wrapper {
  font-size: 0;
  margin: 0 -1.5%;
}
.gray-block .like-container .likes-wrapper .likes {
  display: inline-block;
  vertical-align: top;
  width: 33.3%;
  padding: 0 1.5%;
}
.gray-block .like-container .likes-wrapper .likes .image-wrapper {
  width: 100%;
}
.gray-block .like-container .likes-wrapper .likes .image-wrapper:after {
  padding-top: 66.6%;
}
.gray-block .like-container .likes-wrapper .likes h3 {
  font-size: 20px;
  margin-bottom: 25px;
}
.gray-block.single-page {
  margin-bottom: 60px;
}
.show-more-container {
  margin: 170px 0 30px;
  text-align: center;
}
.show-more-container a.show-more {
  display: inline-block;
  font-size: 20px;
  min-width: 160px;
  padding: 15.5px 31px;
  border: 1px solid #626262;
}
.show-more-container a.show-more:link,
.show-more-container a.show-more:visited {
  color: #626262;
}
.show-more-container a.show-more:hover,
.show-more-container a.show-more:focus,
.show-more-container a.show-more:active {
  color: #888888;
  background-color: #f2f2f2;
}
.show-more-container a.show-more:after {
  content: '\f04b';
  display: inline-block;
  font-family: FontAwesome;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -ms-transition: transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
}
.show-more-container a.show-more.opened:after {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.switch-container {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  -ms-transition: max-height 0.8s;
  -o-transition: max-height 0.8s;
  transition: max-height 0.8s;
}
.switch-container.opened {
  max-height: 1050px;
}
.comments .comment {
  margin-bottom: 60px;
}
.comments .comment .avatar {
  display: inline-block;
  vertical-align: top;
}
.comments .comment .avatar a {
  display: block;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /**
 ** how to use same-widt-height
 **   if unit given in px
 **   .same-width-height(65);
 **        will produce:
 **           width:65px;
 **           height:65px;
 **   other units need to be explicitly provided as an:
 **   .same-width-height(65,vw)
 **       will produce:
 **         width:65vw;
 **         height:65vw
 **/
  width: 70px;
  height: 70px;
}
.comments .comment .avatar a img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}
.comments .comment .avatar a .generic {
  background-color: #cae5e0;
  text-align: center;
  line-height: 70px;
  text-transform: uppercase;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 34px;
}
.comments .comment .comment-content {
  padding-left: 35px;
  width: calc(100% - 75px);
  display: inline-block;
  vertical-align: top;
}
.comments .comment .comment-content h5 {
  font-weight: 700;
  margin-top: 0;
}
.comments .comment .comment-content p {
  line-height: 171.42857143%;
}
.comments .comment .comment-content a {
  text-transform: uppercase;
  margin-top: 20px;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
.comments .comment .comment-content a:link,
.comments .comment .comment-content a:visited {
  color: #b4ad9e;
}
.comments .comment .comment-content a:hover,
.comments .comment .comment-content a:focus,
.comments .comment .comment-content a:active {
  color: #857b67;
}
.footer-container {
  background-color: #f0f0f0;
}
.footer-container .footer-container-inner {
  height: 100px;
}
.footer-container .footer-container-inner ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footer-container .footer-container-inner ul li {
  display: inline-block;
}
.footer-container .footer-container-inner ul li a {
  display: block;
}
.footer-container .footer-container-inner ul li a:link,
.footer-container .footer-container-inner ul li a:visited {
  color: black;
}
.footer-container .footer-container-inner ul li a:hover,
.footer-container .footer-container-inner ul li a:focus,
.footer-container .footer-container-inner ul li a:active {
  color: #333333;
}
.footer-container .footer-container-inner.terms {
  padding-left: 80px;
}
.footer-container .footer-container-inner.terms a {
  padding-right: 20px;
}
.footer-container .footer-container-inner.social {
  text-align: right;
}
.footer-container .footer-container-inner.social a {
  padding-left: 16px;
}
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header .logo-container {
    height: 100px;
  }
  header .main-menu-container {
    height: 100px;
  }
  header .main-menu-container ul li a {
    padding: 0 20px;
  }
  .hero {
    margin-bottom: 45px;
  }
  .article-container.full,
  .article-container.half.right,
  .article-container.half.left {
    margin: 0;
  }
}
/*Ipad Landscape */
/*Ipad Portrait*/
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .article-container.full {
    margin: 0;
  }
  .article-container.half.right,
  .article-container.half.left {
    margin: 0 0 0 0;
  }
  .gray-block .signup-form-container {
    width: 90%;
  }
}
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
