*:focus {
  outline: none;
}
* {
  margin: 0;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
/**
wordpress fantom space removal
*/
p:empty {
  display: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.bootstrap-select .btn:focus {
  outline: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.media-checker {
  position: absolute;
  top: -10000px;
  left: -10000px;
  z-index: 1920;
}
.image-preloader {
  position: absolute;
  top: -1000px;
  left: -5000px;
  display: block;
}
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
input,
textarea {
  outline: none;
}
a {
  outline: none;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
.image-wrapper {
  width: 200px;
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}
.image-wrapper:after {
  padding-top: 50%;
  display: block;
  content: '';
}
.image-wrapper .image-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: deepskyblue;
  color: white;
}
.image-wrapper .image-content img {
  width: 100%;
  height: auto;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .media-checker {
    z-index: 1200;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .media-checker {
    z-index: 992;
  }
}
/*Ipad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .media-checker {
    z-index: 1024;
  }
}
/*Ipad Portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .media-checker {
    z-index: 768;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .media-checker {
    z-index: 767;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .media-checker {
    z-index: 480;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .media-checker {
    z-index: 479;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .media-checker {
    z-index: 320;
  }
}
html,
body {
  font-size: 14px;
  color: #626262;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
.mobile-navigation {
  position: fixed;
  z-index: 1010;
  top: 0;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #ededed;
  background-color: white;
}
.mobile-navigation:after {
  display: table;
  clear: both;
  content: '';
}
.mobile-navigation .logo-container {
  display: block;
  float: left;
  width: auto;
  max-width: 199px;
  height: 45px;
  margin-top: 0;
  margin-left: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mobile-navigation .logo-container a {
  display: block;
  overflow: hidden;
  height: 45px;
}
.mobile-navigation .logo-container a img {
  width: auto;
  height: 100%;
}
.mobile-navigation .navigation-trigger {
  display: block;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mobile-navigation .navigation-trigger a {
  display: inline-block;
  vertical-align: middle;
}
.mobile-navigation .navigation-trigger a:link,
.mobile-navigation .navigation-trigger a:visited {
  color: black;
}
.mobile-navigation .navigation-trigger a:hover,
.mobile-navigation .navigation-trigger a:active,
.mobile-navigation .navigation-trigger a:focus {
  color: #404040;
}
.mobile-navigation .navigation-trigger a:last-child {
  margin-left: 20px;
}
.mobile-navigation .navigation-trigger a:last-child i {
  font-size: 35px;
  line-height: 30px;
}
.mobile-navigation .navigation-trigger i {
  font-size: 25px;
  line-height: 55px;
  margin-right: 20px;
}
.mobile-links-list-container {
  display: none;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 55px;
  width: 100%;
  background-color: white;
}
.mobile-links-list-container ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #ededed;
}
.mobile-links-list-container ul li {
  display: block;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ededed;
  background-image: none;
}
.mobile-links-list-container ul li a {
  display: block;
  font-size: 18px;
  padding: 10px 0 10px 30px;
  text-transform: uppercase;
}
.mobile-links-list-container ul li a:link,
.mobile-links-list-container ul li a:visited {
  color: black;
}
.mobile-links-list-container ul li a:hover,
.mobile-links-list-container ul li a:focus,
.mobile-links-list-container ul li a:active {
  color: black;
  background-color: #ebebeb;
}
.pusher {
  height: 55px;
}
header .logo-container {
  height: 165px;
}
header .logo-container a {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
header .main-menu-container {
  height: 165px;
}
header .main-menu-container ul {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
header .main-menu-container ul li {
  display: inline-block;
}
header .main-menu-container ul li a {
  font-size: 14px;
  padding: 0 40px;
  text-transform: uppercase;
}
header .main-menu-container ul li a:link,
header .main-menu-container ul li a:visited {
  color: #626262;
}
header .main-menu-container ul li a:hover,
header .main-menu-container ul li a:focus,
header .main-menu-container ul li a:active {
  color: #222222;
}
header .main-menu-container ul li:last-child a {
  padding-right: 0;
}
header .main-menu-container ul li:first-child a {
  padding-left: 0;
}
.hero {
  margin-bottom: 97px;
}
.hero .hero-inner {
  overflow: hidden;
  padding-top: 44.736%;
}
.article-container .article-image {
  overflow: hidden;
  padding-top: 66.67%;
  margin: 100px 0 30px;
}
.article-container .article-link a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.article-container .article-link a:link,
.article-container .article-link a:visited {
  color: #b4ad9e;
}
.article-container .article-link a:hover,
.article-container .article-link a:focus,
.article-container .article-link a:active {
  color: #857b67;
}
.article-container .article-content {
  margin: 30px 0;
  line-height: 171.42857143%;
  letter-spacing: 0.01em;
}
.article-container.full {
  margin: 0 80px;
}
.article-container.half {
  border-bottom: 1px solid #cccccc;
}
.article-container.half.left {
  margin-left: 80px;
}
.article-container.half.right {
  margin-right: 80px;
}
.gray-block {
  margin: 110px 0;
  padding: 55px 0;
  background-color: #f0f0f0;
}
.gray-block .signup-form-container {
  text-align: center;
  border-bottom: 1px solid #626262;
  width: 400px;
  margin: 0 auto;
}
.gray-block .signup-form-container h2 {
  color: #333333;
  letter-spacing: 0.025em;
  margin-bottom: 80px;
}
.gray-block .signup-form-container input[type='email'] {
  border: 0;
  background-color: #f0f0f0;
  width: 350px;
  padding: 15px 0;
}
.gray-block .signup-form-container input[type='email']::-webkit-input-placeholder {
  color: #626262;
}
.gray-block .signup-form-container input[type='email']::-moz-placeholder {
  color: #626262;
}
.gray-block .signup-form-container input[type='email']:-ms-input-placeholder {
  color: #626262;
}
.gray-block .signup-form-container input[type='email']:-moz-placeholder {
  color: #626262;
}
.gray-block .signup-form-container input[type='submit'] {
  font-family: FontAwesome;
  border: 0;
  background-color: #f0f0f0;
  font-size: 18px;
}
.show-more-container {
  margin: 170px 0 170px;
  text-align: center;
}
.show-more-container a.show-more {
  border: 1px solid #626262;
  padding: 15.5px 31px;
  display: inline-block;
  min-width: 160px;
  font-size: 20px;
}
.show-more-container a.show-more:link,
.show-more-container a.show-more:visited {
  color: #626262;
}
.show-more-container a.show-more:hover,
.show-more-container a.show-more:focus,
.show-more-container a.show-more:active {
  color: #888888;
  background-color: #f2f2f2;
}
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header .logo-container {
    height: 100px;
  }
  header .main-menu-container {
    height: 100px;
  }
  header .main-menu-container ul li a {
    padding: 0 20px;
  }
  .hero {
    margin-bottom: 45px;
  }
}
/*Ipad Landscape */
/*Ipad Portrait*/
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .article-container.full {
    padding: 0;
  }
  .article-container.half.right,
  .article-container.half.left {
    padding: 0;
  }
  .gray-block .signup-form-container {
    width: 90%;
  }
}
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
