@import 'common/common';

.playfair() {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.playfair-bold() {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.playfair-black() {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

.ubuntu() {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.ubuntu-light() {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.ubuntu-medium() {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.ubuntu-bold() {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

@main-text-color: #626262;

html, body {
  font-size: 14px;
  color: @main-text-color;

  .playfair();
}

.spacer-60 {
  height: 60px;
}

.owl-theme {
  .owl-nav {
    position: absolute;
    top: 34%;
    width: 100%;
    margin-top:0;
    .owl-prev {
      background-color: red;
      position: absolute;
      left: 0;
      pointer-events: auto;
    }
    .owl-next {
      background-color: yellow;
      position: absolute;
      right: 0;
      pointer-events: auto;
    }
  }
}

//############ mobile ################
.mobile-navigation {
  position: fixed;
  z-index: 1010;
  top: 0;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #ededed;
  background-color: white;
  &:after {
    display: table;
    clear: both;
    content: '';
  }
  .logo-container {
    display: block;
    float: left;
    width: auto;
    max-width: 199px;
    height: 45px;
    margin-top: 0;
    margin-left: 20px;

    .vertical-center3lines();

    a {
      display: block;
      overflow: hidden;
      height: 45px;
      img {
        width: auto;
        height: 100%;
      }
    }
  }
  .navigation-trigger {
    display: block;
    float: right;

    .vertical-center3lines();

    a {
      display: inline-block;
      vertical-align: middle;
      &:link, &:visited {
        color: black;
      }
      &:hover, &:active, &:focus {
        color: lighten(black, 25%);
      }
      &:last-child {
        margin-left: 20px;
        i {
          font-size: 35px;
          line-height: 30px;
        }
      }
    }
    i {
      font-size: 25px;
      line-height: 55px;
      margin-right: 20px;
    }
  }
}

.mobile-links-list-container {
  display: none;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 55px;
  width: 100%;
  background-color: white;
  ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ededed;

    li {
      display: block;
      padding: 0;
      list-style: none;
      border-bottom: 1px solid #ededed;
      background-image: none;
      a {
        display: block;
        font-size: 18px;
        padding: 10px 0 10px 30px;
        text-transform: uppercase;

        &:link, &:visited {
          color: black;
        }
        &:hover, &:focus, &:active {
          color: black;
          background-color: #ebebeb;
        }
      }
    }
  }
}

.pusher {
  height: 55px;
}

//########### end mobile ##########
.title {
  text-transform: uppercase;
  font-size: 14px;
  .ubuntu-light();
  color: #b4ad9e;
  margin-bottom: 40px;
}

header {
  .logo-container {
    height: 165px;
    a {
      display: block;

      .vertical-center3lines();
    }
  }
  .main-menu-container {
    height: 165px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: right;

      .vertical-center3lines();

      li {
        display: inline-block;
        a {
          font-size: 14px;
          padding: 0 40px;
          text-transform: uppercase;
          &:link, &:visited {
            color: @main-text-color;
          }
          &:hover, &:focus, &:active {
            color: darken(@main-text-color, 25%);
          }
        }
        &:last-child {
          a {
            padding-right: 0;
          }
        }
        &:first-child {
          a {
            padding-left: 0;
          }
        }
      }
    }
  }
}

.hero {
  margin-bottom: 97px;
  .hero-inner {
    overflow: hidden;
    padding-top: 44.736%;
  }
}

.article-container {
  .article-image {
    overflow: hidden;
    margin: 100px 0 30px;
    padding-top: 66.67%;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 40px 40px 0;
      border-color: transparent #111112 transparent transparent;
    }
    i {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 10;
      color: white;
    }
  }
  .article-image.three-quarters {
    padding-top: 75%;
    margin-top: 60px;
  }
  .article-link a {
    text-transform: uppercase;

    .ubuntu();

    &:link, &:visited {
      color: #b4ad9e;
    }
    &:hover, &:focus, &:active {
      color: darken(#b4ad9e, 20%);
    }
  }
  .article-content {
    margin: 30px 0;

    .photoshopLetterSpace(10);
    .photoshopLineHeight(24, 14);

    p {
      margin: 0 0 25px 0;
    }

    p.italic-paragraph {
      font-style: italic;
      padding: 0 25px;
    }
  }
  .article-share {
    margin: 60px 0 0;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: right;
      li {
        display: inline-block;
        span {
          text-transform: uppercase;
          font-size: 13px;
          color: #b4ad9e;
          .ubuntu-light();
        }
        a {
          font-size: 17px;
          padding-left: 17px;
          display: block;
          &:link, &:visited {
            color: #b4ad9e;
          }
          &:hover, &:focus, &:active {
            color: darken(#b4ad9e, 20%);
          }
        }
      }
    }
  }
}

.article-container.full {
  margin: 0 80px;
}

.article-container.half {
  border-bottom: 1px solid #cccccc;
  .article-image {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 40px 40px 0;
      border-color: transparent #111112 transparent transparent;
    }
    i {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 10;
      color: white;
    }

  }

}

.article-container.half.left {
  margin-left: 80px;
}

.article-container.half.right {
  margin-right: 80px;
}

.gray-block {
  margin: 110px 0;
  padding: 55px 0;
  background-color: #f0f0f0;
  .signup-form-container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid @main-text-color;
    h2 {
      margin-bottom: 80px;
      color: #333333;

      .photoshopLetterSpace(25);
    }
    input[type='email'] {
      width: 350px;
      padding: 15px 0;
      border: 0;
      background-color: #f0f0f0;

      .placeholder-color(@main-text-color);
    }
    input[type='submit'] {
      font-size: 18px;
      border: 0;
      background-color: #f0f0f0;

      .fontAwesome();
    }
  }
  .like-container {

    .likes-wrapper {
      font-size: 0;
      margin: 0 -1.5%;
      .likes {
        display: inline-block;
        vertical-align: top;
        width: 33.3%;
        padding: 0 1.5%;
        .image-wrapper {
          width: 100%;
          &:after {
            padding-top: 66.6%;
          }
        }
        h3 {
          font-size: 20px;
          margin-bottom: 25px;
        }
      }
    }
  }
}

.gray-block.single-page {
  margin-top: 40px;
  margin-bottom: 65px;
}

.show-more-container {
  margin: 170px 0 30px;
  text-align: center;
  a.show-more {
    display: inline-block;
    font-size: 20px;
    min-width: 160px;
    padding: 15.5px 31px;
    border: 1px solid @main-text-color;
    &:link, &:visited {
      color: @main-text-color;
    }
    &:hover, &:focus, &:active {
      color: lighten(@main-text-color, 15%);
      background-color: #f2f2f2;
    }
    //i {
    //  -webkit-transform: rotate(90deg);
    //  -moz-transform: rotate(90deg);
    //  -ms-transform: rotate(90deg);
    //  -o-transform: rotate(90deg);
    //  transform: rotate(90deg);
    //  -webkit-transition: transform 0.8s;
    //  -moz-transition: transform 0.8s;
    //  -ms-transition: transform 0.8s;
    //  -o-transition: transform 0.8s;
    //  transition: transform 0.8s;
    //}
    &:after {
      content: '\f04b';
      display: inline-block;
      .fontAwesome();
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transition: transform 0.8s;
      -moz-transition: transform 0.8s;
      -ms-transition: transform 0.8s;
      -o-transition: transform 0.8s;
      transition: transform 0.8s;

    }
  }
  a.show-more.opened {
    &:after {
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  }
}

.switch-container {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  -ms-transition: max-height 0.8s;
  -o-transition: max-height 0.8s;
  transition: max-height 0.8s;
}

.switch-container.opened {
  max-height: 1050px;
}

.comments {
  .comment {
    margin-bottom: 60px;
    .avatar {
      display: inline-block;
      vertical-align: top;
      a {
        display: block;
        overflow: hidden;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        .same-width-height(70px);
        img {
          .img-responsive-fixed-aspect-ratio();

          -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
          filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
        }
        .generic {
          background-color: #cae5e0;
          text-align: center;
          line-height: 70px;
          text-transform: uppercase;
          color: white;
          .ubuntu-light();
          font-size: 34px;

        }
      }
    }
    .comment-content {
      padding-left: 35px;
      h5 {
        font-weight: 700;
        margin-top: 0;
      }
      width: calc(~'100% - 75px');
      display: inline-block;
      vertical-align: top;
      p {
        .photoshopLineHeight(24, 14);
      }
      a {
        text-transform: uppercase;
        margin-top: 20px;
        display: block;
        .ubuntu-light();
        &:link, &:visited {
          color: #b4ad9e;
        }
        &:hover, &:focus, &:active {
          color: darken(#b4ad9e, 20%);
        }
      }
    }
  }
}

.comment-form {
  .avatar {
    display: inline-block;
    vertical-align: top;
    a {
      display: block;
      overflow: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      .same-width-height(70px);
      img {
        .img-responsive-fixed-aspect-ratio();

        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
        filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
      }
      .generic {
        background-color: #cae5e0;
        text-align: center;
        line-height: 70px;
        text-transform: uppercase;
        color: white;
        .ubuntu-light();
        font-size: 34px;
      }
    }
  }
  .form-container {
    display: inline-block;
    padding-left: 35px;
    width: calc(~'100% - 75px');
    textarea {
      border: 1px solid #c8c8c8;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      width: 100%;
      height: 70px;
      .ubuntu-light();
      padding: 24px 30px;
      text-transform: uppercase;
    }
    input.submit-control {
      background-color: #cccccc;
      border: 0;
      .ubuntu-light();
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      color: white;
      float: right;
      text-transform: uppercase;
      padding: 6px 15px;
      &:hover {
        background-color: darken(#ccc, 20%);
      }
      .clearfix();
    }
  }
}

.right-icon-menu {
  margin: 60px 0 0px;
  ul {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    li {
      display: inline-block;
      .ubuntu-light();
      a {
        margin-left: 15px;
        &:link, &:visited {
          color: #b4ad9e;
        }
        &:hover, &:focus, &:active {
          color: #626262;
        }
        i {
          font-size: 20px;
        }
      }
    }
    li.budala-rekla {
      padding-right: 40px;
    }
  }
}

.footer-container {
  background-color: #f0f0f0;
  .footer-container-inner {
    height: 100px;
    ul {
      margin: 0;
      padding: 0;
      display: inline-block;
      .vertical-center3lines();
      li {
        display: inline-block;
        a {
          display: block;
          &:link, &:visited {
            color: black;
          }
          &:hover, &:focus, &:active {
            color: lighten(black, 20%);
          }
        }
      }
    }
  }

  .footer-container-inner.terms {
    padding-left: 80px;
    a {
      padding-right: 20px;
    }

  }
  .footer-container-inner.social {
    text-align: right;
    a {
      padding-left: 16px;
    }
  }

}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header {
    .logo-container {
      height: 100px;
    }
    .main-menu-container {
      height: 100px;
      ul {
        li {
          a {
            padding: 0 20px;
          }
        }
      }
    }
  }

  .hero {
    margin-bottom: 45px;
  }

  .article-container.full, .article-container.half.right, .article-container.half.left {
    margin: 0;
  }
}

/*Ipad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

/*Ipad Portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .article-container.full {
    margin: 0;
  }

  .article-container.half.right, .article-container.half.left {
    margin: 0 0 0 0;
  }

  .gray-block {
    .signup-form-container {
      width: 90%;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
